body{font-size:12px;}


#bkg{position:fixed;
  background:url("bkg.png");
  width:100%!important;
  height:100%!important;
}

.title{
  margin-top:-20px;
  left:100px;
  right:10px;
  background-color:#3498DB;
  height:80px;
  padding: 0 20px 20px 20px;
  text-align:center;
}

.outer {
   top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
  padding: 0;
  line-height:1.3!important;
}

.control-panel {
  width: 300px;
  max-height:1000px;
  left:0;
  margin-top:2px;
  background-color: #D6EAF8;
  padding: 0 20px 20px 20px;
}

.heading{
  padding-top:30px;
  font-family:Arial;
  font-size:20px;
  color:white;
  text-align:left;
  
}

.prediction-panel {
 position:fixed!important;
 width:640px;
 left:360px;
 margin-top:20px;
 padding: 0 10px 10px 10px;
 padding: 20px;
 border-radius: 7px;
 text-align: center;
 box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
 background-color:white;
}


.tile-img {
  text-align: center;
  padding: 10px 20px;
  color:black;
}

.hide {
  display:none;
}

.invisible {
  visibility:hidden;
}

.default {
  position:fixed!important;
  margin-top:30px;
  left:330px;
  width: 250px;
  height: 75px;
  border-radius: 8px;
  color:white;
  background-color: green;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3), 0 12px 40px 0 rgba(0, 0, 0, 0.8);
}

.default-text{
  margin:25px;
  font-size:17px;
  font-weight:bold;
}